<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商品详细</title>
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-status-bar-style" content="blank" />
		<link rel="stylesheet" href="../../../brutalism/font-awesome-4.7.0/css/font-awesome.css">
		<link rel="shortcut icon" href="../../../brutalism/brutalismFrontImg/globalImg/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../../../brutalism/css/index.css" />
		<link rel="stylesheet" href="../../../brutalism/css/detailed.css" />
		<style>
			.menuA1:hover, .menuA2:hover, .menuA3:hover, .menuA4:hover, .menuA5:hover, .menuA6:hover, .menuA7:hover, .menuA8:hover, .menuA9:hover, .menuA10:hover, .menuA11:hover, .menuA12:hover {
				border-bottom-style: solid;
			}
		</style>
	</head>

	<body>
		<div class="roseMain">
			<!--头部-->
			<div class="roseTitle">
				<div class="roseLogin">欢迎来到 BEST ROSE 花宫坊！<a href="/reception/brutalism_login">登录</a> <a href="/reception/brutalism_register">注册</a></div>
				<div class="roseLogo">
					<a href="/reception/index"><div class="roseLogo_box"></div></a>
				</div>
				<div class="roseSearch">
					<div class="roseSearchForm">
						<input type="button" class="search_post">
						<input type="text" placeholder="新品推荐" class="searchInput" />
						<a href="/reception/shopcart"><i class="fa fa-cart-arrow-down fa-2x shopping_car" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<!--end-->
            <!--主页--菜单-->
            <div class="roseMenu_container">
                <li class="menuA1">
                    <a href="/reception/floriculture">
                        what's new<br/>
                        新鲜上架
                    </a>
                </li>
                <li class="menuA2">
                    <a href="/reception/floriculture">
                        Flora<br/>
                        花艺
                    </a>
                </li>
                <li class="menuA3">
                    <a href="index.html">
                        what's new<br/>
                        新鲜上架
                    </a>
                </li>
                <li class="menuA4">
                    <a href="index.html">
                        Home Textile<br/>
                        家纺
                    </a>
                </li>
                <li class="menuA5">
                    <a href="index.html">
                        Furniture<br/>
                        家具
                    </a>
                </li>
                <li class="menuA6">
                    <a href="index.html">
                        Décor & Tabletop<br/>
                        家饰&服饰
                    </a>
                </li>
                <li class="menuA7">
                    <a href="index.html">
                        Beauty<br/>
                        美妆个护
                    </a>
                </li>
                <li class="menuA8">
                    <a href="index.html">
                        Fragrance<br/>
                        香氛
                    </a>
                </li>
                <li class="menuA9">
                    <a href="index.html">
                        Jewelry & Accessories<br/>
                        珠宝配饰
                    </a>
                </li>
                <li class="menuA10">
                    <a href="index.html">
                        Lingerie<br/>
                        家居服
                    </a>
                </li>
                <li class="menuA11">
                    <a href="index.html">
                        Gifts<br/>
                        礼物
                    </a>
                </li>
                <li class="menuA12">
                    <a href="index.html">
                        Stores<br/>
                        实体店
                    </a>
                </li>
            </div>
			
			<!--商品详情-->
			<div id="product_show" class="product_show">
				<!--左边的图片-->
				<div class="product_left">
					<img src="../../../brutalism/img/detailed/20170823180614410195.JPG">
					<img src="../../../brutalism/img/detailed/20170823180621179701.JPG">
					<img src="../../../brutalism/img/detailed/20170823180629725936.JPG">
					<img src="../../../brutalism/img/detailed/20170823190209635464.JPG">
				</div>
				<!--右边的字段介绍-->
				<div class="product_right">
					<div class="brand">
						<a class="brand_a" href="#">THE BEAST</a>
					</div>
					<div class="product_name">抱个满怀-天空(99支)</div>
					<div class="product_name_en">Full Bodyhug-Sky</div>
					<div class="product_price">
						<span>￥5999.00</span>
					</div>
					<!--赠送，换购优惠-->
					<div class="open">
						<div class="labels">
							<div class="labels_detail_tips">
								<div class="labels_detail_tips_div">赠送</div>
								<p class="labels_detail_tips_p">满399送新年利是封</p>
							</div>
							<div class="labels_detail_tips">
								<div class="labels_detail_tips_div">换购</div>
								<p class="labels_detail_tips_p">59元换购-香氛纸</p>
							</div>
							<div class="labels_detail_tips">
								<div class="labels_detail_tips_div">换购</div>
								<p class="labels_detail_tips_p">59元换购-香包</p>
							</div>
							<div class="labels_detail_tips">
								<div class="labels_detail_tips_div">换购</div>
								<p class="labels_detail_tips_p">59元换购-线描靠垫</p>
							</div>
							<div class="labels_detail_tips">
								<div class="labels_detail_tips_div">换购</div>
								<p class="labels_detail_tips_p">99元换购-手唇套装</p>
							</div>
							<div class="labels_detail_tips">
								<div class="labels_detail_tips_div">换购</div>
								<p class="labels_detail_tips_p">99元换购-气垫按摩梳</p>
							</div>
							<div class="labels_detail_tips">
								<div class="labels_detail_tips_div">换购</div>
								<p class="labels_detail_tips_p">99元换购-丝绒长靠垫</p>
							</div>
						</div>
						<div class="labels_more">
							<div class="arrow"></div>
						</div>
					</div>
					<!--配送地址-->
					<div class="peisong">
						<p class="address_select">请选择配送区域</p>
						<div class="address" style="display: block;">
							<div class="address_menu">
								<p class="m_sheng">北京市</p>
								<p class="m_shi">北京市</p>
								<p class="m_qu">东城区</p>
							</div>
							<div class="address_nei" style="display: none;">
								<li>安徽省</li>
								<li>北京市</li>
								<li>福建省</li>
								<li>甘肃省</li>
								<li>广东省</li>
								<li>广西壮族自治区</li>
								<li>贵州省</li>
								<li>海南省</li>
								<li>河北省</li>
								<li>北京市</li>
							</div>
							<div class="stockoutdiv">支持配送</div>
						</div>
					</div>
                    <a href="/reception/shopcart"><div class="cart">加入购物车</div></a>
                    <a href="/reception/myLike"><div class="add_link">加入收藏夹</div></a>
					<div class="block">
						<h3>
							推荐理由
							<span class="clear">style notes</span>
						</h3>
						<p>除了一颗看不见摸不着的真心，怎样才能让她感受到你的爱呢？ 99支珍贵的蓝白双色玫瑰，
							搭配野兽派限量版的品牌设计花桶，让你心中无数安放的悸动和满腔的蜜语，化作绽放的玫瑰。
							在阳光正好的那天，说爱，让她抱个满怀。<br></p>
					</div>
					<div class="block">
						<h3>
							规格参数
							<span class="clear">composition</span>
						</h3>
						<p>
							花桶尺寸：高30cm，直径35cm <br>
							花朵支数：99支 <br>
							产地：厄瓜多尔 <br>
							颜色：蓝白双色（由特殊工艺染色而成，并非自然色，如有掉色属于正常现象） <br>
							【特别说明：鲜花是季节性商品，某些花材可能由于天气、运输等突发状况而出现缺货。
							此时，花艺师将在不影响花艺整体效果的情况下，用等值或高于原花材价格的新花材进行创作。】
							<br>
						</p>
					</div>
					<div class="block">
						<h3>
							品牌故事
							<span class="clear">brand story</span>
						</h3>
						<p>
							我们都是都会丛林中的野兽，寻找栖身之所，寻找同伴，寻找爱，从一个地方到另一 个地方。
							Love like a beast。
							<br>
						</p>
					</div>
					<div class="block">
						<h3>
							保养说明
							<span class="clear">caring notes</span>
						</h3>
						<p>
							•请将花束从花桶中取出。您可以把花束解散，根据喜好自由发挥，插入花器。
							 如想维持花束原样，则无需解开绳子，去掉根部水袋，根据您的瓶子高度，
							 以45度角修剪根部即可。•放在花瓶中的花，请每天剪根换水，花枝浸润在水中。
							 •野兽派花材新鲜。因运输原因，您拿到的花束如憔悴，无需担心。将花器中装1/3清水，
							 第二天花束就会精神。•注意：切勿将花放在过热或强光环境下。
							<br>
						</p>
					</div>
					<div class="block">
						<h3>
							特别说明
							<span class="clear">especially notes</span>
						</h3>
						<p>
							【特别提醒】本产品仅限上海及北京。
							<br>
						</p>
					</div>
					<div class="block">
						<h3>
							运输说明
							<span class="clear">delivery</span>
						</h3>
						<p>
							普通商品均由上海仓统一出库，付款后24小时内发货，预售或定制商品请参考页面预售发货时间，
							送达时效以快递公司实际配送为准，详情可以登录官网或者APP查询物流进度。特别提醒：
							法定节假日店休不发货，如遇店铺大型活动，发货时效稍有延后，具体可咨询在线客服。
							鲜花由上海仓统一使用联邦快递进行配送（部分特殊产品会由门店配送）。
							具体配送时间以联邦快递实际配送为准，详情可以登录官网或者APP查询物流进度。
							<br>
						</p>
					</div>
					<div class="block">
						<h3>
							退换货说明
							<span class="clear">return & exchange</span>
						</h3>
						<p>
							鲜花不接受7天无理由退换货，如有质量问题，请在签收后24小时内联系客服。
							阅读《退换货流程》<br>
							（http://www.thebeastshop.com/autopage/pc-returnpolicy.htm）
							<br>
						</p>
					</div>
				</div>
			</div>
			<!--推荐-->
			<div class="recommend">
				<!--大家都在购-->
				<div class="detail_recommend">
					<div class="line"></div>
					<p>大家都在买</p>
				</div>
				<!--推荐商品-->
				<div class="recommend_list" style="border: 0;">
					<!--左边箭头-->
					<img class="recommend_prev_left" src="../../../brutalism/img/detailed/recommend_prev.png">
					<!--内容-->
					<div class="slick_list">
						<div class="slick_track">
							<ul>
								<li>
									<a class="slick_track_a" href="#">
										<img class="slick_track_a_img" src="../../../brutalism/img/detailed/20180814174606449069.JPG">
										<p class="describe">白色冬天的温暖怀抱</p>
										<p>THE BEAST</p>
										<p class="product-name">扑通扑通宝贝粉花盒</p>
										<p class="product-price">¥5499.00</p>
									</a>
								</li>
								<li>
									<a class="slick_track_a" href="#">
										<img class="slick_track_a_img" src="../../../brutalism/img/detailed/20180904175538633613.jpg">
										<p class="describe">粉红的温暖怀抱</p>
										<p>THE BEAST</p>
										<p class="product-name">抱个满怀--淑女杀手</p>
										<p class="product-price">¥5499.00</p>
									</a>
								</li>
								<li>
									<a class="slick_track_a" href="#">
										<img class="slick_track_a_img" src="../../../brutalism/img/detailed/20180904175749946923.jpg">
										<p class="describe">经典红色枪炮玫瑰</p>
										<p>THE BEAST</p>
										<p class="product-name">抱个满怀-淑女杀手</p>
										<p class="product-price">¥5499.00</p>
									</a>
								</li>
								<li>
									<a class="slick_track_a" href="#">
										<img class="slick_track_a_img" src="../../../brutalism/img/detailed/20180905160257502294.jpg">
										<p class="describe">野兽替你说“我爱你”</p>
										<p>THE BEAST</p>
										<p class="product-name">菠萝山谷沙发--白色羊羔毛</p>
										<p class="product-price">¥5499.00</p>
									</a>
								</li>
							</ul>
						</div>
						
					</div>
					<!--右边箭头-->
					<img class="recommend_next_right" src="../../../brutalism/img/detailed/recommend_next.png">
				</div>
			</div>

			<!--主页--底部-->
			<div class="rose_foot">
				<ul class="footer-ul">
					<dl>
						<dt>野兽VIP</dt>
						<dd>
							<a href="/autopage/member-policy.htm">野兽派会员中心</a>
						</dd>
						<dd>
							<a href="/autopage/questions.htm">常见问题（新）</a>
						</dd>
						<dd>
							<a>集团采购（建设中）</a>
						</dd>
					</dl>
					<dl>
						<dt>配送方式</dt>
						<dd>
							<a href="/staticpage/delivery.htm">配送时间</a>
						</dd>
						<dd>
							<a href="/staticpage/delivery.htm">配送范围</a>
						</dd>
						<dd>
							<a href="/staticpage/delivery.htm">配送收费标准</a>
						</dd>
						<dd>
							<a href="/staticpage/delivery.htm">快递查询</a>
						</dd>
					</dl>
					<dl>
						<dt>支付方式</dt>
						<dd>
							<a href="/staticpage/howtopay.htm">支付宝 / 微信支付</a>
						</dd>

						<dd>
							<a href="/staticpage/howtopay.htm">实体店支付</a>
						</dd>
						<dd>
							<a href="/staticpage/howtopay.htm">优惠券使用</a>
						</dd>
						<dd>
							<a href="/autopage/gift-card.htm">礼品卡支付</a>
						</dd>
					</dl>
					<dl class="last">
						<dt>售后服务</dt>
						<dd>
							<a href="/autopage/pc-returnpolicy.htm">退换货流程及退款</a>
						</dd>
						<dd>
							<a href="/autopage/pc-orderupdate.htm">订单修改及发票</a>
						</dd>
						<dd>
							<a href="/autopage/pc-servicecenter.htm">客服联系方式</a>
						</dd>
						<dd style="color: red">
							<a href="/autopage/htpc-qa.htm">跨境购说明</a>
						</dd>
					</dl>
				</ul>
				<div class="footer-right">
					<div class="qr-code ">
						<h5>老板娘订阅号</h5>
						<img src="../../../brutalism/img/qd-code2.jpg" alt="二维码" />
					</div>
					<div class="qr-code ">
						<h5>老板娘订阅号</h5>
						<img src="../../../brutalism/img/qd-code2.jpg" alt="二维码" />
					</div>
				</div>

			</div>
			<!--end-->
			<div class="rosetime">任何问题，扫描微信二维码，联系在线客服。 工作时间：周一至周五9:00-21:00；周六、周日 10:00-18:00，法定节假日休息</div>

			<!--版权底部-->
			<div class="footer">
				<p>关于我们 | 加入我们 | 合作联系 | 隐私权声明 | 上海布鲁爱电子商务有限公司
				</p>
				<p>Copyright ©野兽派2011-2018，All Rights Reserved | 沪ICP备12032741号</p>
			</div>
			<!--end-->
		</div>

		<!--javascript-->
		<script type="text/javascript" src="../../../brutalism/js/jquery.min.js" ></script>
		<script src="" type="text/javascript" charset="utf-8">
			
		</script>
	</body>
</html>