<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的会员</title>
    <link rel="stylesheet" href="../../../brutalism/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="../../../brutalism/brutalismFrontImg/globalImg/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../brutalism/css/info.css"/>
</head>

<body>
<div class="roseMain">
    <!--头部-->
    <div class="roseTitle">
        <div class="roseLogin">欢迎来到 BEST ROSE 花宫坊！<a href="/reception/brutalism_login">登录</a> <a
                href="/reception/brutalism_register">注册</a></div>
        <div class="roseLogo">
            <a href="/reception/index"><div class="roseLogo_box"></div></a>
        </div>
        <div class="roseSearch">
            <div class="roseSearchForm">
                <input type="button" class="search_post">
                <input type="text" placeholder="新品推荐" class="searchInput"/>
                <a href="/reception/shopcart"><i class="fa fa-cart-arrow-down fa-2x shopping_car"
                                                 aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!--个人中心--菜单-->
    <div class='roseInfo-essentialInformation' style="line-height: 14px;">
        <li>
            <div class="menu"><a href="/reception/overview">
                <p>概览</p>
            </a></div>
        </li>
        <li>
            <div class="menu"><a href="/reception/memberCenter">
                <p>会员中心</p>
            </a></div>
        </li>
        <li>
            <div class="menu"><a href="/reception/bastRose_info">
                <p>基本信息</p>
            </a></div>
        </li>
        <li>
            <div class="menu"><a href="/reception/shippingAddress">
                <p>配送地址</p>
            </a></div>
        </li>
        <li>
            <div class="menu"><a href="/reception/myOrder">
                <p>我的订单</p>
            </a></div>
        </li>
        <li>
            <div class="menu"><a href="javascript:;">
                <p>我的礼品卡</p>
            </a></div>
        </li>
        <li>
            <div class="menu"><a href="/reception/myLike">
                <p>收藏夹</p>
            </a></div>
        </li>
        <li>
            <div class="menu"><a href="javascript:;">
                <p>我的卡劵</p>
            </a></div>
        </li>
    </div>
    <!--编辑账号信息-->
    <div class="update_info" style="background: none repeat scroll 0 0 #666666;color: white;line-height: 39px;height: 39px;">
        <li>会员中心</li>
    </div>
    <div class="infoBig" style="height: 340px">
        <div class="insert_info" id="inserInfo">
            <div style="margin-left: 56px;font-size: 15px;margin-top: 44px">
                <div style="width: 960px;height: 60px"><span style="font-weight: bold;color: black">•&nbsp;&nbsp;您当前会员等级为：</span><span class="vip" style="color: black">注册会员</span></div>
                <div style="width: 960px;height: 52px"><span style="font-weight: bold;color: black">•&nbsp;&nbsp;您当前会员积分为：</span><span class="vip_number" style="color: black">0.0</span></div>
                <div><a href="/reception/memberType" style="text-decoration: underline;font-size: 14px;color: #004C46;">查看会员政策和积分规则></a></div>
            </div>
        </div>
    </div>
    <!--底部-->
    <div class="rose_foot">
        <ul class="footer-ul">
            <dl>
                <dt>野兽VIP</dt>
                <dd><a href="/autopage/member-policy.htm">野兽派会员中心</a></dd>
                <dd><a href="/autopage/questions.htm">常见问题（新）</a></dd>
                <dd><a>集团采购（建设中）</a></dd>
            </dl>
            <dl>
                <dt>配送方式</dt>
                <dd><a href="/staticpage/delivery.htm">配送时间</a></dd>
                <dd><a href="/staticpage/delivery.htm">配送范围</a></dd>
                <dd><a href="/staticpage/delivery.htm">配送收费标准</a></dd>
                <dd><a href="/staticpage/delivery.htm">快递查询</a></dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd><a href="/staticpage/howtopay.htm">支付宝 / 微信支付</a></dd>

                <dd><a href="/staticpage/howtopay.htm">实体店支付</a></dd>
                <dd><a href="/staticpage/howtopay.htm">优惠券使用</a></dd>
                <dd><a href="/autopage/gift-card.htm">礼品卡支付</a></dd>
            </dl>
            <dl class="last">
                <dt>售后服务</dt>
                <dd><a href="/autopage/pc-returnpolicy.htm">退换货流程及退款</a></dd>
                <dd><a href="/autopage/pc-orderupdate.htm">订单修改及发票</a></dd>
                <dd><a href="/autopage/pc-servicecenter.htm">客服联系方式</a></dd>
                <dd style="color: red"><a href="/autopage/htpc-qa.htm">跨境购说明</a></dd>
            </dl>
        </ul>
        <div class="footer-right">
            <div class="qr-code ">
                <h5>微信商店及在线服务</h5>
                <img src="../../../brutalism/img/weixin-code.jpg" alt="二维码"/>
            </div>
            <div class="qr-code ">
                <h5>老板娘订阅号</h5>
                <img src="../../../brutalism/img/qd-code2.jpg" alt="二维码"/>
            </div>
        </div>
    </div>
    <!--end-->
    <div class="rosetime">任何问题，扫描微信二维码，联系在线客服。 工作时间：周一至周五9:00-21:00；周六、周日 10:00-18:00，法定节假日休息</div>


    <!--版权底部-->
    <div class="footer">
        <p>关于我们 | 加入我们 | 合作联系 | 隐私权声明 | 上海布鲁爱电子商务有限公司
        </p>
        <p>Copyright ©野兽派2011-2018，All Rights Reserved | 沪ICP备12032741号</p>
    </div>
    <!--end-->
</div>

<!--javascript-->
<script type="text/javascript" src="../../../brutalism/js/jquery.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
