<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>会员中心</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="blank"/>
    <link rel="stylesheet" href="../../../brutalism/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="../../../brutalism/brutalismFrontImg/globalImg/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../../brutalism/css/index.css"/>
    <link rel="stylesheet" href="../../../brutalism/css/menber.css"/>
    <style>
        .menuA1:hover, .menuA2:hover, .menuA3:hover, .menuA4:hover, .menuA5:hover, .menuA6:hover, .menuA7:hover, .menuA8:hover, .menuA9:hover, .menuA10:hover, .menuA11:hover, .menuA12:hover {
            border-bottom-style: solid;
        }
    </style>
</head>
<body>

<div class="menMain" id="rose_background">
    <!--头部-->
    <div class="roseTitle">
        <div class="roseLogin">欢迎来到 BEST ROSE 花宫坊！<a href="/reception/brutalism_login">登录</a> <a
                href="/reception/brutalism_register">注册</a></div>
        <div class="roseLogo">
            <a href="/reception/index">
                <div class="roseLogo_box"></div>
            </a>
        </div>
        <div class="roseSearch">
            <div class="roseSearchForm">
                <input type="button" class="search_post">
                <input type="text" placeholder="新品推荐" class="searchInput"/>
                <a href="/reception/shopcart"><i class="fa fa-cart-arrow-down fa-2x shopping_car"
                                                 aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!--end-->

    <!--主页--菜单-->
    <div class="roseMenu_container">
        <li class="menuA1">
            <a href="/reception/floriculture">
                what's new<br/>
                新鲜上架
            </a>
        </li>
        <li class="menuA2">
            <a href="/reception/floriculture">
                Flora<br/>
                花艺
            </a>
        </li>
        <li class="menuA3">
            <a href="index.html">
                what's new<br/>
                新鲜上架
            </a>
        </li>
        <li class="menuA4">
            <a href="index.html">
                Home Textile<br/>
                家纺
            </a>
        </li>
        <li class="menuA5">
            <a href="index.html">
                Furniture<br/>
                家具
            </a>
        </li>
        <li class="menuA6">
            <a href="index.html">
                Décor & Tabletop<br/>
                家饰&服饰
            </a>
        </li>
        <li class="menuA7">
            <a href="index.html">
                Beauty<br/>
                美妆个护
            </a>
        </li>
        <li class="menuA8">
            <a href="index.html">
                Fragrance<br/>
                香氛
            </a>
        </li>
        <li class="menuA9">
            <a href="index.html">
                Jewelry & Accessories<br/>
                珠宝配饰
            </a>
        </li>
        <li class="menuA10">
            <a href="index.html">
                Lingerie<br/>
                家居服
            </a>
        </li>
        <li class="menuA11">
            <a href="index.html">
                Gifts<br/>
                礼物
            </a>
        </li>
        <li class="menuA12">
            <a href="index.html">
                Stores<br/>
                实体店
            </a>
        </li>
    </div>
    <!--end-->

    <!--会员政策-->
    <div class="MemberText">
        <div class="member_Info">
            花宫坊会员中心
        </div>
        <div class="MemberType">
            <div class="member">
                <p><span>松鼠会员：</span> <span>使用期限为三个月价格：</span> <span class="mem_price">69</span></p>
            </div>
            <div class="member">
                <p><span>小猫会员：</span> <span>使用期限为六个月 价格：</span> <span class="mem_price">99</span></p>
            </div>
            <div class="member">
                <p><span>大象会员：</span> <span>使用期限为十二个月 价格：</span> <span class="mem_price">198</span></p>
            </div>
            <div>
                <p>加入我们，像野兽一样去爱，去生活！<a href="#"> 点击购买会员</a></p>
            </div>
            <!--会员说明-->

        </div>
        <!--end-->
        <div class="info">
            <p>说明：</p>
            <p>
                1. 会员需完善个人生日信息后方可领取生日礼包，生日礼包将在会员生日前一天发放至账户内，生日当天起生效。等级礼包自会员升级7天后发放，当前等级有效期内均可领取。礼券具体使用规则，请至【我的卡券】中查询。
            </p>
            <p>
                2. 特价产品，礼品卡等不享受折扣优惠。
            </p>
            <p>
                3.会员一律享8.6折扣。
            </p>
        </div>
    </div>

    <!--主页--底部-->
    <div class="rose_foot">
        <ul class="footer-ul">
            <dl>
                <dt>VIP</dt>
                <dd><a href="/autopage/member-policy.htm">会员中心</a></dd>
                <dd><a href="/autopage/questions.htm">常见问题（新）</a></dd>
                <dd><a>集团采购（建设中）</a></dd>
            </dl>
            <dl>
                <dt>配送方式</dt>
                <dd><a href="/staticpage/delivery.htm">配送时间</a></dd>
                <dd><a href="/staticpage/delivery.htm">配送范围</a></dd>
                <dd><a href="/staticpage/delivery.htm">配送收费标准</a></dd>
                <dd><a href="/staticpage/delivery.htm">快递查询</a></dd>
            </dl>
            <dl>
                <dt>支付方式</dt>
                <dd><a href="/staticpage/howtopay.htm">支付宝 / 微信支付</a></dd>

                <dd><a href="/staticpage/howtopay.htm">实体店支付</a></dd>
                <dd><a href="/staticpage/howtopay.htm">优惠券使用</a></dd>
                <dd><a href="/autopage/gift-card.htm">礼品卡支付</a></dd>
            </dl>
            <dl class="last">
                <dt>售后服务</dt>
                <dd><a href="/autopage/pc-returnpolicy.htm">退换货流程及退款</a></dd>
                <dd><a href="/autopage/pc-orderupdate.htm">订单修改及发票</a></dd>
                <dd><a href="/autopage/pc-servicecenter.htm">客服联系方式</a></dd>
                <dd style="color: red"><a href="/autopage/htpc-qa.htm">跨境购说明</a></dd>
            </dl>
        </ul>
        <div class="footer-right">
            <div class="qr-code ">
                <h5>老板娘订阅号</h5>
                <img src="../../../brutalism/img/qd-code2.jpg" alt="二维码"/>
            </div>
            <div class="qr-code ">
                <h5>老板娘订阅号</h5>
                <img src="../../../brutalism/img/qd-code2.jpg" alt="二维码"/>
            </div>
        </div>
    </div>
    <div class="rosetime">任何问题，扫描微信二维码，联系在线客服。 工作时间：周一至周五9:00-21:00；周六、周日 10:00-18:00，法定节假日休息</div>
    <!--end-->

    <!--版权底部-->
    <div class="footer">
        <p>关于我们 | 加入我们 | 合作联系 | 隐私权声明 | 上海布鲁爱电子商务有限公司
        </p>
        <p>Copyright ©野兽派2011-2018，All Rights Reserved | 沪ICP备12032741号</p>
    </div>
    <!--end-->
</div>

<!--脚本	-->
<script type="text/javascript" src="../../../brutalism/js/jquery.min.js"></script>
<script type="text/javascript">
    (function () {

//			显示隐藏div
        $(".menuA1").on("mouseover mouseout", function (event) {
            if (event.type == "mouseover") {

                //鼠标悬停
                //$(".roseHideMenu_A1").css('display','block');
                $(".roseHideMenu_A1").slideDown("500");

                $(".roseHideMenu_A1").on("mouseover mouseout", function (event) {
                    if (event.type == "mouseover") {

                        //鼠标悬停
                        $(".roseHideMenu_A1").css('display', 'block');
                    } else if (event.type == "mouseout") {
                        //鼠标离开

                        $(".roseHideMenu_A1").css('display', 'none');
                    }
                })

            } else if (event.type == "mouseout") {
                //鼠标离开

                $(".roseHideMenu_A1").css('display', 'none');
            }
        })


        $(".menuA2").on("mouseover mouseout", function (event) {
            if (event.type == "mouseover") {
                //鼠标悬停
                $(".roseHideMenu_A2").slideDown("500");

                $(".roseHideMenu_A2").on("mouseover mouseout", function (event) {
                    if (event.type == "mouseover") {

                        //鼠标悬停
                        $(".roseHideMenu_A2").css('display', 'block');
                    } else if (event.type == "mouseout") {
                        //鼠标离开

                        $(".roseHideMenu_A2").css('display', 'none');
                    }
                })

            } else if (event.type == "mouseout") {
                //鼠标离开
                $(".roseHideMenu_A2").css('display', 'none');
            }
        })


    }())
</script>
</body>
</html>
