<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>购物车</title>
		<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
		<meta name="apple-mobile-web-app-status-bar-style" content="blank" />
		<link rel="shortcut icon" href="../../../brutalism/brutalismFrontImg/globalImg/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="../../../brutalism/font-awesome-4.7.0/css/font-awesome.css">
		<link rel="stylesheet" href="../../../brutalism/css/ShoppingCart.css" />
		<style>
			.roseMenu_container{
				text-align: center;
			}
            .menuA1:hover, .menuA2:hover, .menuA3:hover, .menuA4:hover, .menuA5:hover, .menuA6:hover, .menuA7:hover, .menuA8:hover, .menuA9:hover, .menuA10:hover, .menuA11:hover, .menuA12:hover {
                border-bottom-style: solid;
            }
		</style>
	</head>
	<body>
		
		<div class="roseMain">
			<!--头部-->
			<div class="roseTitle">
				<div class="roseLogin">欢迎来到 THE BEAST 野兽派！<a href="/reception/brutalism_login">登录</a> <a href="/reception/brutalism_register">注册</a></div>
				<div class="roseLogo">
                    <a href="/reception/index"><div class="roseLogo_box"></div></a>
				</div>
				<div class="roseSearch">
					<div class="roseSearchForm">
						<input	type="button" class="search_post">
						<input type="text" placeholder="新品推荐" class="searchInput"/>
                        <a href="/reception/shopcart"><i class="fa fa-cart-arrow-down fa-2x shopping_car" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<!--end-->

            <!--主页--菜单-->
            <div class="roseMenu_container">
                <li class="menuA1">
                    <a href="/reception/floriculture">
                        what's new<br/>
                        新鲜上架
                    </a>
                </li>
                <li class="menuA2">
                    <a href="/reception/floriculture">
                        Flora<br/>
                        花艺
                    </a>
                </li>
                <li class="menuA3">
                    <a href="index.html">
                        what's new<br/>
                        新鲜上架
                    </a>
                </li>
                <li class="menuA4">
                    <a href="index.html">
                        Home Textile<br/>
                        家纺
                    </a>
                </li>
                <li class="menuA5">
                    <a href="index.html">
                        Furniture<br/>
                        家具
                    </a>
                </li>
                <li class="menuA6">
                    <a href="index.html">
                        Décor & Tabletop<br/>
                        家饰&服饰
                    </a>
                </li>
                <li class="menuA7">
                    <a href="index.html">
                        Beauty<br/>
                        美妆个护
                    </a>
                </li>
                <li class="menuA8">
                    <a href="index.html">
                        Fragrance<br/>
                        香氛
                    </a>
                </li>
                <li class="menuA9">
                    <a href="index.html">
                        Jewelry & Accessories<br/>
                        珠宝配饰
                    </a>
                </li>
                <li class="menuA10">
                    <a href="index.html">
                        Lingerie<br/>
                        家居服
                    </a>
                </li>
                <li class="menuA11">
                    <a href="index.html">
                        Gifts<br/>
                        礼物
                    </a>
                </li>
                <li class="menuA12">
                    <a href="index.html">
                        Stores<br/>
                        实体店
                    </a>
                </li>
            </div>

			<!--end 菜单-->
			<p class="rose-tips"></p>
			<!--car-main-->
			<div class="rose-car-main">
				<div class="rose-car">
					<div class="rose-car-title">
						<h1>购物车 SHOPPING BAG</h1>
					</div>
					<!--购物车清单-->
					<div class="rose-car-list">
						<div class="rose-car-shop">
							<table class="list">
								<tr class="list-first">
									<th><input type="checkbox"/></th>
									<th colspan="2" style="text-align: left;">全选<span class="list-msg">满99包邮</span></th>
									<th>单价</th>
									<th style="text-align: center;">件数</th>
									<th>小计</th>
									<th>操作</th>
								</tr>						
								<tr>
									<td><input type="checkbox"/></td>
									<td><a href="#" target="_blank"><img src="http://img.thebeastshop.com/image/20180905135105769209.jpg@2e_0o_0l_313h_300w_90q.src"/></a></td>
									<td><a href="#" target="_blank">
										<p>THE BEAST</p>
										<p style="width:300px;padding-right:20px">爱你呦（音乐水晶球巨型永生玫瑰）</p>
										<p style="width:300px;padding-right:20px"> </p>
									</a></td>
									<td><p>¥580.00</p></td>
									<td>
										<div class="list-num">
											<span>-</span>
											<span class="num-show">1</span>
											<span>+</span>
										</div>
									</td>
									<td>¥580.00</td>
									<td><a href="#">删除</a></td>
								</tr>
								<tr>
									<td><input type="checkbox"/></td>
									<td><a href="#" target="_blank"><img src="http://img.thebeastshop.com/image/20180904181209664675.jpg@2e_0o_0l_313h_300w_90q.src"/></a></td>
									<td><a href="#" target="_blank">
										<p>THE BEAST</p>
										<p style="width:300px;padding-right:20px">心中的玫瑰心形永生花盒--女神</p>
										<p style="width:300px;padding-right:20px"></p>
									</a></td>
									<td><p>¥1314.00</p></td>
									<td>
										<div class="list-num">
											<span>-</span>
											<span class="num-show">1</span>
											<span>+</span>
										</div>
									</td>
									<td>¥1314.00</td>
									<td><a href="#">删除</a></td>
								</tr>
								<tr>
									<td><input type="checkbox"/></td>
									<td><a href="#" target="_blank"><img src="http://img.thebeastshop.com/image/20180911131210183326.jpg@2e_0o_0l_313h_300w_90q.src"/></a></td>
									<td><a href="#" target="_blank">
										<p>万宝宝</p>
										<p style="width:300px;padding-right:20px">小BRA18K金钻石黄色蓝宝石项链</p>
										<p style="width:300px;padding-right:20px"> </p>
									</a></td>
									<td><p>¥9900.00</p></td>
									<td>
										<div class="list-num">
											<span>-</span>
											<span class="num-show">1</span>
											<span>+</span>
										</div>
									</td>
									<td>¥9900.00</td>
									<td><a href="#">删除</a></td>
								</tr>
								<tr>
									<td><input type="checkbox"/></td>
									<td><a href="#" target="_blank"><img src="http://img.thebeastshop.com/image/20180823133028115071.jpg@2e_0o_0l_313h_300w_90q.src"/></a></td>
									<td><a href="#" target="_blank">
										<p>THE BEAST</p>
										<p style="width:300px;padding-right:20px">祝福你</p>
										<p style="width:300px;padding-right:20px">祝福你 : 鲜花 几何花架 : 花器 </p>
									</a></td>
									<td><p>¥3080.00</p></td>
									<td>
										<div class="list-num">
											<span>-</span>
											<span class="num-show">1</span>
											<span>+</span>
										</div>
									</td>
									<td>¥3080.00</td>
									<td><a href="#">删除</a></td>
								</tr>
								<tr>
									<td><input type="checkbox"/></td>
									<td><a href="#" target="_blank"><img src="http://img.thebeastshop.com/image/20180905143906365519.jpg@2e_0o_0l_313h_300w_90q.src"/></a></td>
									<td><a href="#" target="_blank">
										<p>THE BEAST</p>
										<p style="width:300px;padding-right:20px">玫瑰多重奏-爱在每一天（16支）</p>
										<p style="width:300px;padding-right:20px"></p>
									</a></td>
									<td><p>¥1520.00</p></td>
									<td>
										<div class="list-num">
											<span>-</span>
											<span class="num-show">1</span>
											<span>+</span>
										</div>
									</td>
									<td>¥1520.00</td>
									<td><a href="#">删除</a></td>
								</tr>
							</table>
						</div>
						<div class="rose-car-recommend">
							<div class="recommend-title">大家都在买</div>
							<div class="recommend-list">
								<img src="http://oss.thebeastshop.com/static/images/recommend-prev.png" class="recommend-prev"/>
								<div class="recommend-list-shop">
									<a href="#" class="recommend-list-item" style="width: 205px;">
										<img src="http://img.thebeastshop.com/image/20180904181209664675.jpg@2e_0o_0l_313h_300w_90q.src">
										<p class="p-first">爱你一生一世</p>
										<p>THE BEAST</p>
										<p class="shop-name">心中的玫瑰心形永生花盒--女神</p>
										<p class="shop-price">¥1314.00</p>
									</a>
									<a href="#" class="recommend-list-item" style="width: 205px;">
										<img src="http://img.thebeastshop.com/image/20180911131845168479.jpg@2e_0o_0l_313h_300w_90q.src">
										<p class="p-first">范冰冰《一夜惊喜》款</p>
										<p>Bao Bao Wan</p>
										<p class="shop-name">小扇子18K黄金珍珠钻石项链-珠光暖意</p>
										<p class="shop-price">¥6500.00</p>
									</a>
									<a href="#" class="recommend-list-item" style="width: 205px;">
										<img src="http://img.thebeastshop.com/image/20180905144249978656.jpg@2e_0o_0l_313h_300w_90q.src">
										<p class="p-first">明星组合俘获她的芳心</p>
										<p>THE BEAST</p>
										<p class="shop-name">“方耳朵熊守护你”淑女杀手枪炮礼盒（16支）</p>
										<p class="shop-price">¥1520.00</p>
									</a>
									<a href="#" class="recommend-list-item" style="width: 205px;">
										<img src="http://img.thebeastshop.com/image/20180905155908220933.jpg@2e_0o_0l_313h_300w_90q.src">
										<p class="p-first">野兽派人气永生花盒</p>
										<p>THE BEAST</p>
										<p class="shop-name">“宝贝”永生花盒</p>
										<p class="shop-price">¥680.00</p>
									</a>
								</div>
								<img src="http://oss.thebeastshop.com/static/images/recommend-next.png" class="recommend-next"/>
							</div>
						</div>
						<div class="rose-car-total">
							<div class="total-left">
								<a href="#">删除选中商品</a>
							</div>
							<div class="total-right">
								<span>已优惠：<em>¥0.00</em></span>
								<span>总计：<em>¥0.00</em></span>
								<button type="button" class="addOrder">立即结算</button>
							</div>
						</div>
					</div>
					<!--end-->
					
					<!--空购物车-->
					<!--切换模式把hidden 加到rose-car-shop里就行，再把这里的去掉-->
					<div class="rose-car-null" hidden="hidden">
						<img src="http://oss.thebeastshop.com/static/images/cart-null.png">
						<a href="/">去野兽派逛逛&gt;&gt;</a>
					</div>
					<!--End-->
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../../../brutalism/js/jquery-1.11.3.js" ></script>
		<script type="text/javascript" src="../../../brutalism/js/vue.min.js" ></script>
		<script type="text/javascript">
            //结算商品到订单页面
            $("body").on("click",".addOrder",function () {
                location.href = "/reception/myOrder";
            })
		</script>
	</body>
</html>
